.bg-img {
    background-image: url('/src/Hero (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* or your desired height */
  }